.form-group {
    color: white;
}

.form-group label {
    margin-right: 20px;
}

#workshop-p {
    color: white;
    font-size: 1.2em;
    margin-top: 40px;
}

#workshop-p em {
    color: rgb(54, 158, 67);
}

h3.section-subheading {
    margin-bottom: 30px !important;
}

#userinfo {
    color: white;
    font-size: 1.2em;
}