@font-face {
font-family:"Yekan";
src: url(fonts/Yekan.eot);
src: url(fonts/Yekan.eot?#iefix) format("embedded-opentype"), url(fonts/Yekan.woff)
format("woff"), url(fonts/Yekan.ttf) format("truetype"), url(fonts/Yekan.svg#BYekan) format("svg");
font-weight: normal;
font-style: normal
}


@font-face{
    font-family: "BMorvarid";
    src: url('fonts/BMorvarid.ttf');
}

body {
    direction: rtl;
}
.nav li a{
    font-family: Yekan;
    font-size: 21px;
}

header .intro-text,.row ,.container.row,.section-heading {

 font-family: Yekan;
}



hr {
    color: black;
}

 #map {
        margin:auto;
        width: 475px;
        height: 350px;
      background-color: rgb(247, 247, 247);
      }
.clients a {
    width: 1%;
    height: 1%;
}
.navbar-default .navbar-brand{
    font-size: 3em;
}

.intro-lead-in {
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 40px;
}

.center-text {
    text-align: center;
}
.row {
    margin-left: 0px;
}
.workshops img{
    margin: auto;
}
.modal{
    top: 10%;
    right: 15%;
    bottom: 10%;
    left: 15%;
}

.MyTimeline{
    border: 4px solid rgb(54, 158, 67) !important;
}
.myClient{
    text-align: center;
}
.myText{
 margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
}

@media(min-width: 768px){
    .navbar-nav > li {
        float: right;
    }
}
@media(min-width: 768px){
    .myheading  {
    font-family: Yekan;
    margin-top: 70px !important;
    }
}

#map-iframe {
    width: 1px;
    min-width: 100%;
    *width: 100%;
}

.logo{
    height: 25%;
    width: 25%;
}

@media(max-width: 768px) {
    .logo {
        height: 50%;
        width: 50%;
    }
}